<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<head>
<title>Octopus Holdings</title>
<style type="text/css">
	#emoji_grid {
		height: 95vh;
		width: 100%;
	}

	.footer_svg {
		height: 1em;
		width: auto;
		vertical-align: middle;
	}

	footer {
		font-size: 2vh;
		font-family: arial;
		text-align: center;
	}

	a {
		text-decoration: none;
	}
</style>
</head>
<body>
<svg id="emoji_grid" viewBox="0 0 128 {{ 128 + 92 * (stack|length - 1) }}" preserveAspectRatio="xMidYMid meet">
	{% for emoji_path in stack %}
		<image x="0" y={{ 92 * loop.index0 }} height="128" width="128" xlink:href="/emoji/{{ emoji_path }}"/>
	{% endfor %}
</svg>
<footer>Made for the <a href="https://www.recurse.com/scout/click?t=55c3e9f4d1be3788f3c2fab546a50eb5"><svg class="footer_svg" viewBox="0 0 128 128"><image x="0" y="0" height="128" width="128" xlink:href="/emoji/emoji_rc.svg" /></svg> community</a> with <svg class="footer_svg" viewBox="0 0 128 128"><image x="0" y="0" height="128" width="128" xlink:href="/emoji/noto_1/emoji_u1f497.svg" /></svg> by <a href="https://twitter.com/jdherg">@jdherg</a>. <a href="https://github.com/jdherg/octopus-holdings">(Source)</a>
</footer>
</body>
</html>
