<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<head>
<title>Octopus Holdings</title>
<style type="text/css">
	#emoji_grid {
		height: 95vh;
		width: 100%;
	}

	.footer_svg {
		height: 1em;
		width: auto;
		vertical-align: middle;
	}

	footer {
		font-size: 2vh;
		font-family: arial;
		text-align: center;
	}

	a {
		text-decoration: none;
	}
</style>
</head>
<body>
<svg id="emoji_grid" viewBox="0 0 {{ 128 * (stack|length - 1) }} {{ 128 + 92 * (longest - 1) }}" preserveAspectRatio="xMidYMid meet">
	{% for column in stack %}
		{% set outer_loop = loop %}
		{% for emoji in column %}
		<image class="emoji" x={{ 128 * outer_loop.index0 }} y={{ 92 * loop.index0 }} height="128" width="128" xlink:href="/emoji/emoji_{{ emoji }}.svg"/>
		{% endfor %}
	{% endfor %}
</svg>
<footer>Made for the <svg class="footer_svg" viewBox="0 0 128 128"><image x="0" y="0" height="128" width="128" xlink:href="/emoji/emoji_rc.svg" /></svg> community with <svg class="footer_svg" viewBox="0 0 128 128"><image x="0" y="0" height="128" width="128" xlink:href="/emoji/emoji_u1f497.svg" /></svg> by <a href="https://twitter.com/jdherg">@jdherg</a>. <a href="https://github.com/jdherg/octopus-holdings">(Source)</a>
</footer>
</body>
</html>
